.userList{
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: inherit;
    padding: 5px 5px;
    background-color: #3ad48a;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 12px;
}

.userListDelete{
    border: none;
    border-radius: inherit;
    padding: 5px 5px;
    background-color: #d43a3a;
    color: black;
    cursor: pointer;
}